.banner img {
    height: 50px;
    width: 50;
    border-radius: 50%;
}

.graph {
    width: 80%;
    align-self: center;
    margin: 50px;
}

.ast {
    margin-left: 100px;
    margin-top: 50px;
    width: 400px;
}